body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #282c34; 
  color: pink;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

.logo {
  margin-top: 40px;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ai-response {
  margin-top: 50px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  white-space: pre-wrap;
}

.input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-container {
  margin-top: 50px;
  position: relative;
  width: 50%;
}

textarea {
  width: calc(100% - 30px); 
  box-sizing: border-box;
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 15px;
  font-size: auto;
  font-weight: 1000;
  resize: none;
  margin-bottom: 15px;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

button::before {
  content: '🢁'; 
}

button:hover {
  background-color: grey;
}
